@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

ul {
    height: 25px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
}

.img-logo {
    height: 25px;
}

video {
    width: 100%; /* largura */
    min-height: 80%; /* altura */
}

.capa {
   position: absolute; 
   bottom: 25%;
   left: 5%;
   width: 35%;
}

.capa-titulo {
    color: white;
    margin-bottom: 5px;
    font-size: 80%;
    font-weight: bold;
}

.capa-desc {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.link-assistir {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.link-info {
    color: black;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px 20px;
    border-radius: 4px;
}